// ==================================== variables and mixins =================================================

// contains variables like colors used
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ==================================== body and background images ==================================================
body {
  overflow-x: hidden;
  // width:100%;
}
.body {
  display: flex;
  flex-direction: column;
  // width: 100%;

  // padding:0;
  // min-width: 1280px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  .frontBg {
    position: absolute;
    top: -40px;
    z-index: -100;
    min-height: 500px;
    width: auto;
    object-fit: contain;
    object-position: center;
    // transform: translateX(-50%);
  }
  .sideBg {
    // display: none;
    position: absolute;
    z-index: -100;
    top: 1150px;
    right: -80px;
    height: 650px;
    width: 300px;
    object-fit: contain;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .small_circle {
    @include circle(120px);
    position: absolute;
    top: 565px;
    right: 290px;
    z-index: -100;
  }
  .big_circle {
    @include circle(350px);
    position: absolute;
    top: 500px;
    right: -120px;
    z-index: -100;
  }
  .grey_circle {
    @include circle(450px, #e1e1e1);
    position: absolute;
    top: 800px;
    left: -230px;
    z-index: -100;
  }
}

// ===================================Register part ===============================

.homepageRegister {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  // height: 100vh;
  // width: 100%;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.show__homepageRegister {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

// ======================================= main wrapper properties ====================================================

.mainwrapper {
  width: 100%;
  padding: 0 20px;
  // max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

// ===================================== header and login button =====================================================

.headerbox {
  width: auto;
  margin: 10px;
  margin-top: 30px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    flex-shrink: 0;
    flex-grow: 0;
    img {
      height: 100%;
      width: 100%;
    }
    object-fit: contain;
    height: 100%;
    width: 100px;
    margin-left: 10px;
  }

  .headerbox__menu {
    flex: 1;
    display: block;
  }

  ul {
    list-style: none;
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    li {
      // margin: auto 30px;
      &:hover {
        font-weight: 600;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }
    li a {
      text-decoration: none;
      color: black;
    }
  }
  .header__loginBtn {
    @include btnShape(white, black);
    width: 100px;
  }
}

// #########################  For dropdown for responsiveness  ##############################

.header__dropdown {
  display: none;
  flex: 1;
  margin-left: auto;
  .dropdown__cross {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }
  .dropdown__menu {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    transition: all 1s ease;
    transform: translateX(100%);
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      li a {
        color: white;
        font-size: 1.5em;
        &:active {
          font-size: 1.8em;
        }
      }
      .dropdown__loginBtn {
        @include btnShape(white, black);
        width: 100px;
        &:active {
          width: 120px;
        }
      }
    }
  }
}

.show__dropdown__menu {
  transform: translateX(0) !important;
}

// For designing hamburger
.header__hamburger {
  $size: 30px;
  width: $size;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px;
  margin-left: auto;
  cursor: pointer;
  span {
    display: block;
    width: $size;
    height: 3px;
    border-radius: 10px;
    background: white;
  }
}

// ###################################################################################

// ==================================== part 1 ==================================================

.part1 {
  // background-color: yellow;
  width: auto;
  margin: 20px;
  margin-top: 30px;

  min-height: 400px;
  position: relative;
  .textPart {
    text-align: left;
    padding: 50px 0;
    width: auto;
    max-width: 500px;
    h1 {
      font-size: 3em;
      font-weight: 900;
      margin-bottom: 30px;
      span {
        color: $violet;
      }
    }
    p {
      max-width: 400px;
      width: auto;
      font-size: 18px;
    }
    button {
      @include btnShape();
      padding: 15px;
      width: 130px;
      margin-top: 40px;
    }
  }
  .imagePart {
    overflow: hidden;
    object-fit: contain;
    // float:right;
    position: absolute;
    z-index: -10;
    right: 0;
    top: 0;
    width: 400px;
    margin-top: -30px;
    // background-color: crimson;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================== part2 =============================================

.part2 {
  // padding: 20px 0;
  // height: 500px;
  overflow: hidden;
  margin-top: 150px;
  // display: flex;
  .imagePart {
    float: left;
    object-fit: contain;
    height: 400px;
    // overflow: hidden;
    order: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .textPart {
    // flex: 1;
    // width:100%;
    padding: 30px 20%;
    // margin: auto 0;
    margin: auto;
    // margin-left:-80px;
    // background-color: tomato;
    // width: 52%;
    h1 {
      margin-bottom: 30px;
      order: 0;
    }
    p {
      max-width: 700px;
      font-size: 14px;
      text-align: left;
      line-height: 30px;
      order: 2;
    }
    button {
      margin-top: 50px;
      @include btnShape();
      width: 170px;
      order: 3;
    }
  }
}

// ============================================ part3 =======================================================

// .part3 {
//   min-height: 425px;
//   max-width: 950px;
//   margin: 40px auto;
//   padding: 30px;
//   position: relative;
//   background-color: white;
//   box-shadow: 5px 10px 20px 15px rgba(0, 0, 0, 0.2);
//   // =====================
//   .text1,
//   .text2 {
//     font-weight: 500;
//     width: 700px;
//     height: 200px;
//     text-align: left;
//     // background-color: cyan;
//     h2 {
//       margin-bottom: 30px;
//       font-size: 30px;
//     }
//   }
//   .text1 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding-left: 70px;
//     padding-top: 70px;
//   }
//   .text2 {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     padding-left: 70px;
//     padding-right: 70px;
//     // padding-top:40px;
//   }
//   .image1,
//   .image2 {
//     img {
//       width: 100%;
//       height: 100%;
//     }
//     width: 200px;
//     height: 200px;
//     object-fit: contain;
//     margin: 40px;
//   }
//   .image1 {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   .image2 {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//   }
// }

.part3 {
  min-height: 425px;
  max-width: 950px;
  margin: 40px auto;
  padding: 30px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 10px 20px 15px rgba(0, 0, 0, 0.2);
  // =====================
  .text1,
  .text2 {
    font-weight: 500;
    width: auto;
    height: 200px;
    text-align: left;
    h2 {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
  .image1 {
    float: right;
  }
  .image2 {
    float: left;
  }

  .image1,
  .image2 {
    img {
      width: 100%;
      height: 100%;
    }
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px;
  }
}

// ========================================== part4 ===========================================

.part4 {
  // background-color: darkgoldenrod;
  min-height: 300px;
  max-width: 1100px;
  width: 100%;
  margin: 80px auto;
  // display: flex;
  .textPart {
    // width: 48%;
    padding: 20px;
    padding-left: 40px;
    h1 {
      margin-bottom: 30px;
    }
    p {
      line-height: 30px;
    }
    button {
      @include btnShape();
      margin-top: 30px;
      margin-left: 60px;
      width: 140px;
    }
  }
  .imagePart {
    img {
      width: 100%;
      height: 100%;
    }
    // width: 52%;
    float: right;
    height: 300px;
    object-fit: contain;
    // background-color: darkgray;
  }

  // clearfix hack
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// ========================================= part5 =============================================

.part5 {
  width: auto;
  // position: absolute;
  margin: 20px -30px 20px -30px;
  // left: 0;
  min-height: 300px;
  background-color: $violet;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  .imagePart {
    img {
      width: 100%;
      height: 100%;
    }
    object-fit: contain;
    height: 290px;
    width: 400px;
    margin: auto 0;
    // background-color: yellow;
  }
  .textPart {
    max-width: 700px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    padding: 40px;
    color: white;
    button {
      @include btnShape(white, black);
      width: 150px;
      margin-top: 40px;
    }
  }
}

// ======================================== part6 ===============================================

.part6 {
  // width: 1280px;
  // height: 600px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  & > h1 {
    margin-bottom: 10px;
  }
  & > p {
    font-size: 14px;
    font-weight: 600;
  }
  .part6_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    & > div {
      width: 28%;
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      // text-align: justify;
      padding: 10px 40px;
      border-radius: 10px;
      box-shadow: 2px 15px 20px 10px rgba(0, 0, 0, 0.15);
      .feature_image {
        margin: 40px;
        width: 70%;
        object-fit: contain;
        img {
          width: 100%;
          height: 100%;
        }
      }
      h2 {
        font-size: 25px;
        margin-bottom: 20px;
        // height: 70px;
      }
      p {
        flex: 1;
        line-height: 30px;
      }
      button {
        @include btnShape();
        width: 180px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
  // background-color: yellowgreen;
}

// ================================= footer ===============================================

.footer {
  width: 100%;
  .footer_upper {
    padding-top: 20px;
    background-color: $ft_black;
    display: flex;
    justify-content: center;
    color: white;
    .footer_list {
      margin: 30px;
      width: 150px;
      line-height: 30px;
      text-align: left;
      h3 {
        font-size: 18px;
        margin-bottom: 30px;
      }
      li {
        list-style: none;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .footer_lower {
    min-height: 80px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
    .footer_lower_left {
      display: flex;
      align-items: center;
      font-size: 14px;
      .logo {
        object-fit: contain;
        height: 60px;
        width: 60px;
        margin: 10px;
        margin-right: 30px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .footer_lower_right {
      display: flex;
      align-items: center;
      .logos {
        margin: 10px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .header__dropdown {
    display: block;
  }
  .headerbox__menu,
  .headerbox__menu ul,
  .header__loginBtn,
  .small_circle,
  .part1 .imagePart {
    display: none;
  }
  .body .big_circle {
    // background-color: red;
    top: -150px;
    right: -250px;
  }

  .part1 {
    margin-top: 10px;
    .textPart {
      padding: 30px 0;
      button {
        margin-top: 20px;
      }
    }
  }

  .part2 {
    margin-top: 20px;
    .textPart {
      display: flex;
      flex-direction: column;
      align-items: center;
      // h1 {
      //   font-size: 2em;
      //   font-weight: 800;
      // }
      .imagePart {
        float: none;
      }
    }
  }

  .part4 .textPart {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin: 30px auto 0;
    }
    .imagePart {
      float: none;
    }
  }

  .part5 {
    flex-direction: column;
    .textPart {
      text-align: center;
    }
  }

  .part6 {
    .part6_container {
      flex-direction: column;
      & > div {
        width: auto;
      }
    }
  }
  .footer {
    .footer_upper {
      flex-wrap: wrap;
      justify-content:space-evenly;
      .footer_list {
        margin: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .body {
    font-size: 0.8em;
  }

  .part3 {
    // height:1000px;
    // max-height: none;
    width: 90%;
    padding: 30px;
    .text1,
    .text2 {
      height: auto;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // background-color: yellow;
      h2 {
        order: 0;
        margin-bottom: 0;
      }
      .image1,
      .image2 {
        float: none;
        order: 1;
      }
      p {
        order: 2;
      }
    }
  }
  .body .sideBg {
    top: 1500px;
  }
  .footer {
    .footer_lower {
      padding: 0 10px;
      flex-direction: column;
    }
  }
}
