@import "./variables";

.videos {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.videos__container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.videos__card {
  background-color: white;
  flex-shrink: 0;
  height: 250px;
  min-width: 300px;
  max-width: 400px;
  width: 300px;
  margin: 8px auto;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.45) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
}

.videoCard {
  width: 100%;
  height: 100%;
  cursor: pointer;
  .videoCard__videoSection {
    position: relative;
    height: 70%;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 56.25%;
    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: inherit;
    }
    .videoCard__videoDuration {
      position: absolute;
      right: 10px;
      bottom: 5px;
      padding: 2px;
      border-radius: 4px;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
  .videoCard__info {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    .videoCard__mentorProfile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
      margin: 10px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .videoCard__videoData {
      width: 100%;
      height: 100%;
      padding: 10px;
      h4 {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .videoCard__trash {
    margin: 10px;
    font-size: 20px;
    color: #555;
    &:hover {
      font-size: 22px;
      color: #000;
    }
  }
}

.videos__largeScreen {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  object-fit: contain;
  .videos__largeScreenClose {
    z-index: 5;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
  }
  .videos__largeScreenVideo {
    height: 80%;
    max-width: 90%;
    width: auto;
    object-fit: cover;
    margin: auto;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.videos__showlargeScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ***************************** Additional parts in mentor video section  **************************

.uploadFormBtn {
  border: none;
  background-color: $violet;
  color: white;
  padding: 10px 15px;
  // width:100px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.videoUploadForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  form {
    width: 400px;
    // height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 6px;
    h2 {
      margin-bottom: 40px;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      resize: none;
      border-radius: 4px;
      border: 1px solid black;
      outline: none;
      margin: 20px;
    }
    button {
      padding: 10px;
      background-color: $violet;
      border: none;
      outline: none;
      width: 100px;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      margin: 20px;
    }
  }
}

.showVideoUploadForm {
  display: block;
}

.videos__UploadFormClose {
  z-index: 5;
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
}

// ********************************************************************************************

// ###############################################   Responsiveness    ##################################################

@media only screen and (max-width: 500px) {
  // For showing the card of videos and tasks in centre of screen
  .videoCard {
    margin: auto;
  }
}
